.mainContainer {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}

.ToggleSideBar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 25px;
}

.ToggleSideBar:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sideBarContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 21vw;
  z-index: 200;
  min-width: 200px;
  height: 100vh;
  overflow: scroll;
  border-right: 0px solid #c5c0c0;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
