.mainContainer {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

.ToggleSideBar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 25px;
}

.sideBarContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 21vw;
  z-index: 200;
  min-width: 200px;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border-right: 0px solid #c5c0c0;
  padding: 3px;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.LayerShift {
  position: fixed;
  right: 0px;
  top: 80px;
  z-index: 1000;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
