h3 {
  font-size: 1.3em;
}

.SideBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.CloseSideBar {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
}

.CloseSideBar:hover {
  opacity: 0.8;
  cursor: pointer;
}

.LayerContainer {
  flex-direction: column;
  width: 95%;
  margin-bottom: 10px;
}

.Note {
  background-position: 9px 0px;
  background-repeat: no-repeat;
  line-height: 18px;
  overflow: hidden;
  padding: 10px 8px;
  margin: 2px;
  font-size: 15px;
}

.ToggleButtons {
  display: flex;
  justify-content: space-between;
}

.LayerList {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.Layer {
  width: calc(100% - 5px);
  padding: 2px;
}

.Layer:hover {
  opacity: 0.8;
  cursor: move;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 28%;
}

#head {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0px;
}

#head:hover {
  opacity: 0.8;
  cursor: pointer;
}

.LayerButton {
  margin-right: 4px;
  display: flex;
  justify-content: center;
}

.LayerButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.DeleteLayer {
  width: calc(100% - 8px);
  padding: 2px;
  border-radius: 1px;
  border: 3px dashed;
  background-color: transparent;
  text-align: center;
  margin-top: 10px;
}

.OperationContainer {
  width: calc(100% - 8px);
  padding: 4px;
  font-size: 14px;
  margin-bottom: 9px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.OperationSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.OperationSettings * {
  max-width: 95%;
}

.LayerSelect {
  height: 22px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.OperationButton {
  width: 20%;
  height: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Button {
  width: 40%;
  height: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  border-radius: 2px;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.43);
  margin-top: 5px;
  margin-bottom: 5px;
}

.Button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.OperationButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Input {
  max-width: 35%;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.OperationHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.HelpTip {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  content: "?";
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  cursor: default;
  margin: 2px;
}

.HelpTip > p {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0px;
  min-width: 115%;
  background-color: #1e2021;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.HelpTip:before {
  content: "?";
  font-weight: bold;
  color: #1e2021;
}

.HelpTip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
